<form id="commentForm" action="#/add_comment/{{post._id}}" method="post">
    <label>Comment</label>
    <textarea name="content" type="text"></textarea>
    <input type="submit" value="Add Comment" id="btnPostComment">
</form>