{{#each products}}

<p><a href="#/details/{{id}}" id={{id}}>{{name}}</a></p>


{{/each}}

<!--<p><a href="#/details/1" id="1">Product1</a></p>-->
<!--<p><a href="#/details/2" id="2">Product2</a></p>-->
<!--<p><a href="#/details/3" id="3">Product3</a></p>-->

